@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="main-content" class="main-content" role="main">
        <h1>
           Learning  Languages
        </h1>
        <p>Welcome to MinLanguage, and this is an online study guide to the various Min languages.</p>
        
    </div>
</div>