@{
    ViewData["Title"] = "";
}

<div class="text-center">

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Start Learning</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Hokkien">Hokkien Ue, Ban Lam Gi| 福建話，閩南語</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Ming_Deng_Ngu ">Ming deng Ngu | 閩東語 Eastern Min</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--div class="container">
        <main role="main" class="pb-3">
            RenderBody()
        </main>
    </div-->

    
    <!--Hokkien Ue, Ban Lam Gi| 福建話，閩南語
    :mindong: Ming deng Ngu | 閩東語 Eastern Min
    :minbei: MaingPe Ngy | 閩北語 Northern Min
    :minzhong: Mɛ̃Tam ngy | 閩中語 Central Min
    :teoswa: Teochew | 潮語
    :hainam: AiNam ie | 海南話 Hainanese
    :puxian: Hinghwa Gu， PouSen Gu| 興化語, 蒲仙語
    :lui: LuiJiu Ue | 雷州話 Leizhounese
    :zhongshan: TangSuaNgi | 中山閩語 (ZhongShan Min)
    -->
</div>
