@model MinLanguage.Models.VocabsSuggest

@{
    ViewData["Title"] = "Suggest new word";
}

<h1>Suggest new word</h1>

<h4>VocabsSuggest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SuggestNew">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VocabsKey" class="control-label"></label>
                <input asp-for="VocabsKey" class="form-control" />
                <span asp-validation-for="VocabsKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnglishTranslation" class="control-label"></label>
                <input asp-for="EnglishTranslation" class="form-control" />
                <span asp-validation-for="EnglishTranslation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionUsed" class="control-label"></label>
                <input asp-for="RegionUsed" class="form-control" />
                <span asp-validation-for="RegionUsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExampleSentences" class="control-label"></label>
                <input asp-for="ExampleSentences" class="form-control" />
                <span asp-validation-for="ExampleSentences" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WordClass" class="control-label"></label>
                <input asp-for="WordClass" class="form-control" />
                <span asp-validation-for="WordClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
