@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1>About Us</h1>
    <p>Welcome to Learn Min Language! This website is dedicated to creating a space 
    and provide aids for those who are seeking to learn various dialects of Min languages. 
    This is may be a small group but we seek to expand our knowlegde of our heritage 
    and preserve them by documenting as much as we can. </p>
    <!--<p>We also have been collaborating with several other notable organizations such as</p-->
    <!--talk more about the purpose of the website preserving culture etc-->
    <p>
        Please take a look at the 
        <a asp-area="" asp-controller="Home" asp-action="About">history section</a> 
        to learn about the background and the regions of each language
    </p>
    
    <p>
        But if you're here to not dissapoint your family or simply learning to speak the language so you can make badass friends then just hope over to
        <a asp-area="" asp-controller="Home" asp-action="Tutorial">Tutorial Section </a>
        and pick the language!
    </p>
</div>
